<!-- ABOUT ME -->
<div class="key-intro">
    <div class="row text-center">
        <div class="col">
            <i class="far fa-laugh-squint"></i>
            <h4 class="post-sub-inrto mb-0 fw-bold">Technology Enthusiast</h4>
        </div>
        <div class="col">
            <i class="far fa-laugh-squint"></i>
            <h4 class="post-sub-inrto mb-0 fw-bold">Innovation Devotee</h4>
        </div>
        <div class="col">
            <i class="far fa-laugh-squint"></i>
            <h4 class="post-sub-inrto mb-0 fw-bold">Life-Long Learner</h4>
        </div>
    </div>
</div>
<h3 class="post-sub-title" id="about-programming">Programming Experience</h3>
<p class="post-main-content">
    I started teaching myself to code in C and Python during my undergraduate study. 
    The experience of coding drives me to apply for my MSc programme at Cardiff University. During my postgraduate study, 
    I further developed skills in Python and JS and employed these skills to build up this blog. 
    I started participating in <a href="https://adventofcode.com/">Advent of Code</a> in 2021 and enjoyed learning new algorithms by solving those interesting problems. 
    <a href="https://github.com/summerm104/Advent-of-Code-2021">(See my AOC code in GitHub)</a>
</p>
<h3 class="post-sub-title" id="about-professional">Professional Experience</h3>
<section class="post-main-content">
    <div class="mb-1">
        <p class="fst-italic d-inline-block mb-0 fw-bold" style="text-align:left;">ByteDance - Product Management Intern</p>
        <span style="float:right;"><small>03/2021 – 07/2021</small></span>
    </div>
    <ul>
        <li>
            Focused on the MVP design of Application Mesh Service platform. <a href="/post/2#project-ams">(See this project)</a>
        </li>
        <li>
            Conducted competitor research, dived into customer’s needs and use cases, evaluated pros and cons, developed product documentation, aligned requirements with teammates, and scheduled delivery plan. 
        </li>
        <li>
            Designed key features based on target use cases that attracted our potential customers. 
        </li>
    </ul>
</section>
<section class="post-main-content">
    <div class="mb-1">
        <p class="fst-italic d-inline-block mb-0 fw-bold" style="text-align:left;">ByteDance - Product Management Intern</p>
        <span style="float:right;"><small>09/2020 – 01/2021</small></span>
    </div>
    <ul>
        <li class="mb-1">
            Part of the payment team of TikTok Ads aiming to enhance customer’s payment experience. 
        </li>
        <li class="mb-1">
            Designed the team's first payment data dashboard, which saved stakeholders at least 30 minutes a day from collecting data and making charts manually. 
            <a href="/post/2#project-data">(See this project)</a>
        </li>
        <li class="mb-1">
            Provided customers with PayPal and other local payment methods in Checkout section, which increased the Checkout conversion rate by 5% in the US market. 
            <a href="/post/2#project-checkout">(See this project)</a>
        </li>
    </ul>
</section>
<section class="post-main-content">
    <div class="mb-1">
        <p class="fst-italic d-inline-block mb-0 fw-bold" style="text-align:left;">NetEase - Planning Intern</p>
        <span style="float:right;"><small>09/2019 – 06/2020</small></span>
    </div>
    <ul>
        <li>
            Worked in the localization programme of educational games, handled 5-6 localization projects each sprint, led the execution, tracked the development progress and assured the quality of deliverables.
        </li>
        <li>
            Arranged user interviews and usability tests, improved feature designs based on users’ pain points. 
        </li>
        <li>
            Made an audio library to reuse audio resources for different games and saved 20% of the budget. 
        </li>
    </ul>
</section>
<h3 class="post-sub-title" id="about-skills">Skills</h3>
<section class="post-main-content">
    <ul class="mb-0">
        <li class="mb-1">
            Technical Skills: Python, HTML&CSS, JS, SQL, Flask, Git 
        </li>
        <li class="mb-1">
            Soft Skills: Communication, Problem-Solving, Teamwork, Product Management, Project Management
        </li>
        <li class="mb-1">
            Lanuage: English - IELTS 8.0/9.0, Japanese - N2 177/180 (Fluent), Mandarin Chinese, Cantonese
        </li>
    </ul>
    <a class="d-block mt-2" href="/post/3">See skills in detail</a>
</section>
<h3 class="post-sub-title" id="about-education">Education</h3>
<section class="post-main-content">
    <div>
        <p class="fst-italic d-inline-block mb-0 mt-1 fw-bold" style="text-align:left;">Cardiff University, UK</p>
        <span style="float:right;"><small>09/2021 – 09/2023</small></span>
        <p>Computing and IT Management with Placement (MSc)</p>
    </div>
    <div>
        <p class="fst-italic d-inline-block mb-0 mt-1 fw-bold" style="text-align:left;">Zhejiang University of Science and Technology, China</p>
        <span style="float:right;"><small>09/2016 – 09/2020</small></span>
        <p>English Language and Literature (BA) - Graduate with Honours</p>
    </div>
    <div>
        <p class="fst-italic d-inline-block mb-0 mt-1 fw-bold" style="text-align:left;">Babes-Bolyai University, Romania - Exchange Student</p>
        <span style="float:right;"><small>09/2018 - 06/2019</small></span>
        <p>International Relations, European Studies</p>
    </div>
</section>


<!-- PROJECTS -->
<h3 class="post-sub-title" id="project-blog">Personal Web Blog</h3>
<p class="post-sub-inrto">
    My first dynamic web programming project with only 3-month programming experience!
</p>
<p class="post-main-content">
    My web blog is built using Flask/Python, JavaScript/jQuery, HTML and CSS. The web's user interface is developed with Bootstrap 5. The project was initiated after I started programming for only 3 months and was completed within a month. Thanks to it, I learned how to use the Python web framework Flask and front-end development tools such as jQuery and SCSS and deploy an application on OpenShift. I also had a further understanding of the communication between browser and server and what it means to be a full-stack developer.
</p>
<h3 class="post-sub-title" id="project-ams">Application Mesh Service (AMS)</h3>
<p class="post-sub-inrto">
    AMS is a platform that provides consistent visibility and network traffic controls of microservices that make up a cloud-native application. It is developed based on Istio service mesh and enables customers to secure, connect and monitor microservices, so they can modernize their enterprise apps more swiftly and securely. 
</p>
<p class="post-main-content">
    When I joined the AMS product team in ByteDance, the team was working on delivering the MVP of AMS and on a stage that all features were built from zero to one. As a product management intern, I was responsible for the product design along with my mentor and delivered key features including service management, topological graph and payment, among which the topological graph was the most challenging one. 
</p>
<p class="post-main-content">
    The topological graph visualizes the communication between different microservices in a graph. I started off proposing the feature by conducting competitor research and developing use cases and mainly focused on use cases of identifying services with errors and observing the status of a particular service. According to the target use cases, the topological graph enables users to find errors in an application quickly and proceed to take further actions like configuring routing rules to protect and improve the performance of their applications. I divided this feature development into two sprint iterations to make sure it provides basic functionalities in the MVP. 
</p>
<p class="post-main-content">
    Although the project wasn't able to be delivered before I ended the internship due to dependency delays, my product designs were recognized by potential customers and attracted them to cooperate with us. 
</p>

<h3 class="post-sub-title" id="project-data">Payment Data Dashboard</h3>
<p class="post-sub-inrto">
    Payment Data Dashboard is a tool that helps stakeholders track, analyze and display payment data in user-friendly ways. 
</p>
<p class="post-main-content">
    When I worked in the payment team in ByteDance that provided payment ability to multiple business stakeholders, we didn't have a data dashboard to display payment metrics automatically. One of my responsibilities was to generate data from the database, make charts and share them with stakeholders. It usually took me more than 30 minutes to do so daily. So I decided to develop a data dashboard to improve our team's efficiency of data analysis. 
</p>
<p class="post-main-content">
    At the beginning of the project, I collected metric requirements from all stakeholders and confirmed those metrics with our engineer. Then I proposed four dashboard sections to cover all needs including the overall pre-payment data, the overall automatic payment data, the payment details of each country and transaction errors. I scheduled a delivery plan with the data team and made sure the deliverable met the acceptance criteria. 
</p>
<p class="post-main-content">
    After the dashboard was put into use, it saved us at least 30 minutes a day from the original workflow and empowered us to make data more transparent and accessible, measure payment performance and gain deeper insight. 
</p>

<h3 class="post-sub-title" id="project-checkout">Supporting Checkout with PayPal</h3>
<p class="post-sub-inrto">
    This project enabled customers to use PayPal in our online Checkout. 
</p>
<p class="post-main-content">
    When I worked in the payment team in ByteDance, we provided TikTok Ads with the Checkout section to enable customers to top-up their account balances. I started this project when we found the Checkout conversion rate was lower than expected in the US region, which means quite a lot of customers give up payment after they viewed the Checkout. 
</p>
<p class="post-main-content">
    To improve the conversion, I studied the payment methods that our competitors provided with customers and found PayPal was one of their main payment methods in the US. I then communicated with the local sales team for their opinions of providing PayPal with our customers. After a discussion within our team, we decided to add PayPal to our Checkout in the US market as a trial to see customers' reactions and then consider adding it to other regions in later iterations. 
</p>
<p class="post-main-content">
    After PayPal was supported, it turned out that around 30-40% of customers in the US prefer to use PayPal on our platform. The Checkout conversion rate increased from 60% to 65% on average within a month. It met our expectations. With this trial, we are more confident to support other local payment methods in other regions in future iterations. 
</p>


<!-- SKILLS -->
<div class="key-intro">
    <div class="row text-center">
        <div class="col">
            <i class="far fa-comments"></i>
            <a href="#skill-communication"><h4 class="post-sub-inrto mb-0 fw-bold">Communication</h4></a>
        </div>
        <div class="col">
            <i class="fas fa-tools"></i>
            <a href="#skill-problem-solving"><h4 class="post-sub-inrto mb-0 fw-bold">Problem-Solving</h4></a>
        </div>
        <div class="col">
            <i class="fas fa-users"></i>
            <a href="#skill-teamwork"><h4 class="post-sub-inrto mb-0 fw-bold">Teamwork</h4></a>
        </div>
    </div>
</div>
<h3 class="post-sub-title" id="skill-communication">Communication</h3>
<p class="post-sub-inrto">
    There was a time when I was able to help my colleague by coherent and patient communication.
</p>
<p class="post-main-content">
    When I worked in the payment product team about a year ago, I carried out a reconciliation project which required detailed data analysis and a good command of Excel. However, one of my team members appeared to have difficulty processing data and couldn't get the result I wanted.
</p>
<p class="post-main-content">
    So, to help him catch up, I started by figuring out how far he understood our aim and logic of the project and how well he could do with Excel. I took my time sitting down with him and created a diagram to help him reorganize the logic of the project and each step we had done. I used easy-to-understand illustrations to explain our workflow, and I then asked him questions to make sure he fully understood everything.
</p>
<p class="post-main-content">
    At all times while communicating with him I was patient. I made him feel supported and gave him every opportunity to ask as many questions as he wanted. Finally, he was able to complete the work with high quality.
</p>
<h3 class="post-sub-title" id="skill-problem-solving">Problem-Solving</h3>
<p class="post-sub-inrto">
    There was a time when I found the requested feature didn't address the actual problem and was able to provide a better solution.
</p>
<p class="post-main-content">
    When I was responsible for collecting requests from stakeholders in the payment team, the sales team came up with a request to provide the automatic payment setting for non-self-serve customers. But I'm confused because the automatic payment setting is not designed for those non-self-serve customers who demand a large amount of ad campaigns on our platform.
</p>
<p class="post-main-content">
    I kept asking them why they would want to open the new payment setting and the actual problem turned out to be that they didn't feel secure to authenticate some customers of such a large amount of credit that the existing payment setting provided.
</p>
<p class="post-main-content">
    So instead of providing a new payment setting, we cut down the initial credit amount for the existing payment setting and make extra requirements for customers if they want to increase the credit amount.
</p>
<h3 class="post-sub-title" id="skill-teamwork">Teamwork</h3>
<p class="post-sub-inrto">
    There was a time when I first worked as a team leader in the workplace. 
</p>
<p class="post-main-content">
    Once I led a four-member team when carrying out a reconciliation project. As a team, we shared the same goal of eliminating account balance gaps in two systems before a new system functionality was put into use.
</p>
<p class="post-main-content">
    Working at a fast pace, to make our work more productive, I split tasks by each member's strength and aligned each member's progress by daily stand-up meetings. We were always keen to help and motivate each other when coming across problems and block points. I highly appreciated my team members' work as well as encouraged them to give and receive feedback to have a good reflection on our work.
</p>
<p class="post-main-content">
    As a result, we overcame the difficulty and stress of solving more than 5000 balance-gap issues and the project was successfully delivered on time. Our work facilitated the launch of the new feature and was appreciated by stakeholders.
</p>